/* Mona Sans Font Faces */
@font-face {
    font-family: "Mona Sans VF";
    src:
        url("/fonts/MonaSansVF[wdth,wght,opsz,ital].woff2")
            format("woff2 supports variations"),
        url("/fonts/MonaSansVF[wdth,wght,opsz,ital].woff2")
            format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Mona Sans VF";
    src:
        url("/fonts/MonaSansVF[wdth,wght,opsz,ital].woff2")
            format("woff2 supports variations"),
        url("/fonts/MonaSansVF[wdth,wght,opsz,ital].woff2")
            format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
    font-optical-sizing: auto;
}

html {
    font-family: "Inter";
}
