/* Mona Sans Font Faces */

@font-face {
  font-display: swap;
  font-family: "Mona Sans";
  font-style: normal;
  font-weight: 200 900;
  src: url("../static/fonts/mona-sans-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Mona Sans";
  font-style: italic;
  font-weight: 200 900;
  src: url("../static/fonts/mona-sans-italic-variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Mona Sans Mono";
  font-style: normal;
  font-weight: 200 900;
  src: url("../static/fonts/mona-sans-mono-variable.woff2") format("woff2");
}