@import "tailwindcss";
@import "@prisma-docs/eclipse/styles/globals.css";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-openapi/css/preset.css";
@import "@prisma-docs/ui/styles";

:root {
    .bg-blog {
        background: linear-gradient(
            0deg,
            var(--color-background-default) 80%,
            var(--color-background-ppg) 100%
        );
    }
    .landing-h1 {
        color: var(--color-foreground-neutral);
        font-variant-numeric: lining-nums tabular-nums slashed-zero;
        font-feature-settings:
            "ss01" on,
            "ss02" on,
            "ss05" on,
            "ss06" on;
        /* title/3xl */
        font-family: var(--font-family-display);
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 120% */
    }
}
