.flexible .svg-elem-1 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

.flexible.active .svg-elem-1 {
    fill: url("#paint0_linear_10601_70600");
}

.flexible .svg-elem-2 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.025s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.025s;
}

.flexible.active .svg-elem-2 {
    fill: url("#paint1_radial_10601_70600");
}

.flexible .svg-elem-3 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s;
}

.flexible.active .svg-elem-3 {
    fill: url("#paint2_linear_10601_70600");
}

.flexible .svg-elem-4 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.07500000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.07500000000000001s;
}

.flexible.active .svg-elem-4 {
    fill: url("#paint3_radial_10601_70600");
}

.flexible .svg-elem-5 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

.flexible.active .svg-elem-5 {
    fill: url("#paint4_linear_10601_70600");
}

.flexible .svg-elem-6 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.125s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.125s;
}

.flexible.active .svg-elem-6 {
    fill: url("#paint5_radial_10601_70600");
}

.flexible .svg-elem-7 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.15000000000000002s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.15000000000000002s;
}

.flexible.active .svg-elem-7 {
    fill: url("#paint6_linear_10601_70600");
}

.flexible .svg-elem-8 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.17500000000000002s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.17500000000000002s;
}

.flexible.active .svg-elem-8 {
    fill: url("#paint7_radial_10601_70600");
}

.flexible .svg-elem-9 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

.flexible.active .svg-elem-9 {
    fill: url("#paint8_linear_10601_70600");
}

.flexible .svg-elem-10 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.225s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.225s;
}

.flexible.active .svg-elem-10 {
    fill: url("#paint9_radial_10601_70600");
}

.flexible .svg-elem-11 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
}

.flexible.active .svg-elem-11 {
    fill: url("#paint10_linear_10601_70600");
}

.flexible .svg-elem-12 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.275s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.275s;
}

.flexible.active .svg-elem-12 {
    fill: url("#paint11_radial_10601_70600");
}

.flexible .svg-elem-13 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.30000000000000004s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.30000000000000004s;
}

.flexible.active .svg-elem-13 {
    fill: url("#paint12_linear_10601_70600");
}

.flexible .svg-elem-14 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.325s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.325s;
}

.flexible.active .svg-elem-14 {
    fill: url("#paint13_linear_10601_70600");
}

.flexible .svg-elem-15 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.35000000000000003s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.35000000000000003s;
}

.flexible.active .svg-elem-15 {
    fill: url("#paint14_radial_10601_70600");
}

.flexible .svg-elem-16 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.375s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.375s;
}

.flexible.active .svg-elem-16 {
    fill: url("#paint15_linear_10601_70600");
}

.flexible .svg-elem-17 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

.flexible.active .svg-elem-17 {
    fill: url("#paint16_radial_10601_70600");
}

.flexible .svg-elem-18 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.42500000000000004s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.42500000000000004s;
}

.flexible.active .svg-elem-18 {
    fill: url("#paint17_linear_10601_70600");
}

.flexible .svg-elem-19 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
}

.flexible.active .svg-elem-19 {
    fill: rgb(163, 191, 250);
}

.flexible .svg-elem-20 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.47500000000000003s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.47500000000000003s;
}

.flexible.active .svg-elem-20 {
    fill: rgb(90, 103, 216);
}

.flexible .svg-elem-21 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.flexible.active .svg-elem-21 {
    fill: rgb(255, 255, 255);
}

.flexible .svg-elem-22 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.525s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.525s;
}

.flexible.active .svg-elem-22 {
    fill: rgb(90, 103, 216);
}

.flexible .svg-elem-23 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
}

.flexible.active .svg-elem-23 {
    fill: rgb(160, 174, 192);
}

.flexible .svg-elem-24 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.5750000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.5750000000000001s;
}

.flexible.active .svg-elem-24 {
    fill: rgb(45, 55, 72);
}

.flexible .svg-elem-25 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.6000000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.6000000000000001s;
}

.flexible.active .svg-elem-25 {
    fill: rgb(237, 137, 54);
}

.flexible .svg-elem-26 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.625s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.625s;
}

.flexible.active .svg-elem-26 {
    fill: rgb(255, 255, 255);
}

.flexible .svg-elem-27 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
}

.flexible.active .svg-elem-27 {
    fill: rgb(237, 137, 54);
}

.flexible .svg-elem-28 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.675s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.675s;
}

.flexible.active .svg-elem-28 {
    fill: rgb(160, 174, 192);
}

.flexible .svg-elem-29 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.7000000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.7000000000000001s;
}

.flexible.active .svg-elem-29 {
    fill: rgb(45, 55, 72);
}

.flexible .svg-elem-30 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.7250000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.7250000000000001s;
}

.flexible.active .svg-elem-30 {
    fill: rgb(4, 200, 187);
}

.flexible .svg-elem-31 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
}

.flexible.active .svg-elem-31 {
    fill: rgb(255, 255, 255);
}

.flexible .svg-elem-32 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.775s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.775s;
}

.flexible.active .svg-elem-32 {
    fill: rgb(4, 200, 187);
}

.flexible .svg-elem-33 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

.flexible.active .svg-elem-33 {
    fill: rgb(160, 174, 192);
}

.flexible .svg-elem-34 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.8250000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.8250000000000001s;
}

.flexible.active .svg-elem-34 {
    fill: rgb(45, 55, 72);
}

.flexible .svg-elem-35 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.8500000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.8500000000000001s;
}

.flexible.active .svg-elem-35 {
    fill: rgb(90, 103, 216);
}

.flexible .svg-elem-36 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.875s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.875s;
}

.flexible.active .svg-elem-36 {
    fill: rgb(255, 255, 255);
}

.flexible .svg-elem-37 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

.flexible.active .svg-elem-37 {
    fill: rgb(90, 103, 216);
}

.flexible .svg-elem-38 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.925s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715) 0.925s;
}

.flexible.active .svg-elem-38 {
    fill: rgb(160, 174, 192);
}

.flexible .svg-elem-39 {
    fill: transparent;
    -webkit-transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.9500000000000001s;
    transition: fill 0.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        0.9500000000000001s;
}

.flexible.active .svg-elem-39 {
    fill: rgb(45, 55, 72);
}
