.worldmap .svg-elem-1 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.05s;
}

.worldmap.active .svg-elem-1 {
    fill: url("#pattern0");
}

.worldmap .svg-elem-2 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

.worldmap.active .svg-elem-2 {
    fill: rgb(163, 191, 250);
}

.worldmap .svg-elem-3 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15s;
}

.worldmap.active .svg-elem-3 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-4 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

.worldmap.active .svg-elem-4 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-5 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
}

.worldmap.active .svg-elem-5 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-6 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
}

.worldmap.active .svg-elem-6 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-7 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
}

.worldmap.active .svg-elem-7 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-8 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

.worldmap.active .svg-elem-8 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-9 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45s;
}

.worldmap.active .svg-elem-9 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-10 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.worldmap.active .svg-elem-10 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-11 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
}

.worldmap.active .svg-elem-11 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-12 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

.worldmap.active .svg-elem-12 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-13 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
}

.worldmap.active .svg-elem-13 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-14 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;
}

.worldmap.active .svg-elem-14 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-15 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
}

.worldmap.active .svg-elem-15 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-16 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

.worldmap.active .svg-elem-16 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-17 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s;
}

.worldmap.active .svg-elem-17 {
    fill: rgb(90, 103, 216);
}

.worldmap .svg-elem-18 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

.worldmap.active .svg-elem-18 {
    fill: rgb(255, 255, 255);
}

.worldmap .svg-elem-19 {
    fill: transparent;
    -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.95s;
    transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.95s;
}

.worldmap.active .svg-elem-19 {
    fill: rgb(255, 255, 255);
}
